<script>
    var tagsI18n = '{{ i18n "tags" }}';
    var dateI18n = '{{ i18n "date" }}';
    var continueReadingI18n = '{{ i18n "continueReading" }}';
    var siteParamsTagsInArticlePreview = {{ .Site.Params.tagsInArticlePreview | default true }};
    var siteParamsImageInArticlePreview = {{ .Site.Params.imageInArticlePreview }};
    var siteParamsArticleSummary = {{ .Site.Params.articleSummary | default true }};

    function renderTags(tags) {
        if (tags.length <= 0) return '';
        
        let res = `| <span title='${tagsI18n}'> </span>`;
        for (let tag of tags) {
            //                                        regular space
            res += `<a href="/tags/${tag}">#${tag}</a>&#32;`;
        }
        return res;
    }
    function renderImage(image, link, alt) {
        if (!image) return '';
        return `<a href="${link}"><img src="${image}" alt="${alt}" /></a>`;
    }
    function renderSingleArticle(article) {
        return `
        <article class="card postlistitem">
            <div>
                <h2>
                    <a href="${article.link}">${article.title}</a>
                </h2>
                <p class="date">
                    <span title='${dateI18n}'> </span>
                    ${article.date}
                    ${siteParamsTagsInArticlePreview ? renderTags(article.tags) : ''}
                </p>
                ${siteParamsImageInArticlePreview ? renderImage(article.image, article.link, article.imageAlt) : ''}
                ${siteParamsArticleSummary ? `<div class="articlePreview">
                    <p>${article.summary}</p>
                    <p><a href="${article.link}">${continueReadingI18n} </a></p>
                </div>` : ''}
            </div>
            <hr />
        </article>
        `;
    }
    function renderArticles(articles) {
        let rendered = articles.map(a => renderSingleArticle(a)).join('\n');
        document.getElementById('postlist').innerHTML += rendered;
    }
</script>

